Python pandas for Machine Learning

In [ ]:
#Baisc
data={'Name':'Raju','age':32,'occupation':'engineer'}
data={'name':['adi','roy','bob','alice'],
       'age':[21,32,30,40,34],
       'occupation':['da/ds','engineer','accountant','engineer']}
print(type(data))
print(data.keys())
print(data.values())
print(data.items())

<class 'dict'>
dict_keys(['name', 'age', 'occupation'])
dict_values([['adi', 'roy', 'bob', 'alice'], [21, 32, 30, 40, 34], ['da/ds', 'engineer', 'accountant', 'engineer']])
dict_items([('name', ['adi', 'roy', 'bob', 'alice']), ('age', [21, 32, 30, 40, 34]), ('occupation', ['da/ds', 'engineer', 'accountant', 'engineer'])])

In [1]:
#pandas
import pandas as pd
#Series -> one dimensional(row)
data={'Name':'Raju','age':32,'occupation':'engineer'}
data = pd.Series(data)
data = [1,2,3,4]
data = pd.Series(data)
data = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
data[3]
data[1:4]
data = pd.Series(2, index = [1,2,3,4,5])
data = pd.Series(2, index = [1,2,3,4,5],name='scalar')
data1 = pd.Series([1,2,3,4,5])
data2 = pd.Series([1,2,3,4,5])
data = data1 + data2
data1.add(data2)
min(data)
max(data)
data.drop(3)

#DataFrame -> Two dimensional(row & column)
data = [[1,2,3],[4,5,6],['a','b','c']]
df = pd.DataFrame(data)
data = {'name':['adi','roy','bob','alice'],
       'age':[21,32,30,40],
       'occupation':['da/ds','engineer','accountant','engineer']}
df=pd.DataFrame(data)
df.head(2)
df.tail(2)
df.info()
df.describe()
df.isnull()
df.isnull().sum()
df.dtypes
df.dtypes == 'object'
df[df.dtypes[df.dtypes == 'int64'].index]
df.columns
df.index
df.index.array
df.columns.to_numpy()
df.to_numpy()
df['age']
df[['name','occupation']]
df[['name','occupation']][2:4]
df['new_col'] = 0
df.insert(loc=2,column='food',value=9)
df.set_index('name')
df.set_index('name',inplace=True)
df.reset_index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   age         4 non-null      int64
 2   occupation  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

C:\Users\91973\AppData\Local\Temp\ipykernel_23712\662432258.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[3]

    name  age  food  occupation  new_col
0    adi   21     9       da/ds        0
1    roy   32     9    engineer        0
2    bob   30     9  accountant        0
3  alice   40     9    engineer        0

In [2]:
#CSV 
fmri = pd.read_csv('C://Users//91973//Downloads//fmri.csv')
csv_file = 'C://Users//91973//Downloads//fmri.csv'
fmri = pd.read_csv(csv_file,nrows=3)
fmri[0:4]
fmri = pd.read_csv(csv_file,skiprows=[1,4])
fmri = pd.read_csv(csv_file,index_col='subject')
fmri = pd.read_csv(csv_file,index_col=2)
fmri = pd.read_csv(csv_file,usecols=[4])
fmri = pd.read_csv(csv_file,usecols=[0,3])
fmri = pd.read_csv(csv_file,usecols=['subject','signal'])
fmri = pd.read_csv(csv_file,header=1)
fmri = pd.read_csv(csv_file,header=None)
fmri = pd.read_csv(csv_file,names=['a','b','c','d','e'])
fmri = pd.read_csv(csv_file,dtype={'timepoint':'float64'})
fmri = pd.read_csv(csv_file,true_values=['yes'],false_values=['no'])

#Handling missing values
fmri = pd.read_csv(csv_file,na_values=['no value','no available'])
fmri = pd.read_csv(csv_file,na_values={'subject':['no value','no available']})
fmri = pd.read_csv(csv_file,na_values={'subject':['no value','no available'],'date':'no value'})
fmri = pd.read_csv(csv_file,keep_default_na=False)
fmri = pd.read_csv(csv_file,keep_default_na=True)
fmri = pd.read_csv(csv_file,na_filter=False)
fmri = pd.read_csv(csv_file,na_filter=True)
fmri.isnull()
fmri.isnull().sum()
fmri.notnull()
fmri.dropna()
fmri.dropna(axis=1)
fmri.dropna(how='any')
fmri.dropna(axis=1,how='any')
fmri.dropna(how='all') #full row null then drop,same colmn
fmri.dropna(axis=1,how='all')
fmri.dropna(thresh=1) #one value Not null in row
fmri.dropna(subset=['subject'])

#fillna -- NaN(none,0)
fmri.fillna(2)
fmri.fillna('none')
fmri.fillna({'subject':2})
fmri.fillna({'date':'none','timepoint':0,'subject':'null'})
fmri.fillna(method='ffill')
fmri.fillna(method='bfill')
fmri.fillna(method='ffill',axis=1)
fmri.fillna(method='bfill',axis=1)
fmri.fillna(0,limit=2)
fmri.fillna(method='ffill',limit=1)
fmri.fillna(2,inplace=True)

#replace
fmri.replace('stim','xyz')
fmri.replace(to_replace='parietal',value='abc')
fmri.replace([1,2,3],0)
fmri.replace([1,2,3],[11,22,33])
fmri.replace({'region':'parietal','event':'stim'},'none')
fmri.replace('[A-Za-z]',0,regex=True)
fmri.replace({'region':'[A-Za-z]'},0,regex=True)
fmri.replace('stim',method='ffill')
fmri.replace('stim',method='bfill')
fmri.replace(0,metohd='ffill',limit=2)
fmri.replace('stim',method='bfill',limit=2)
fmri.replace(0,100,inplace=True)

#interpolate - fill NaN values
fmri.interpolate()
fmri.interpolate(method='nearest')
fmri.interpolate(limit=1)
fmri.interpolate(limit=1,limit_direction='forward')

#access group of row & column
fmri.loc[2]
fmri.loc[[2]]
fmri.loc[0:3]
fmri.loc[[0,3]]
fmri.loc[0:3,'event']
fmri.loc[4,'region']
fmri.loc[[0,78],['subject','signal']]
fmri.loc[0:78,['subject','signal']]
fmri.loc[fmri['timepoint'] > 12]
fmri.iloc[0]
fmri.iloc[:,2]
fmri.iloc[1:3,1:3]
fmri.iloc[3,1]

#groupby
data = pd.read_csv('C://Users//91973//OneDrive//Documents//dataset.csv')
grp = data.groupby(by='section')
grp.groups
grp.sum()
grp.mean()
grp.describe()
grp.aggregate(['sum','max','mean'])
grp = data.groupyby(['section','class'])
grp = data.groupyby(['section','class']).groups
grp = data.groupby(by='section')
for section,df_1 in grp :
    print(section)
    print(df_1)

list(grp)
dict(list(grp))
data.groupby('class').get_group(10)
data.groupby('section').get_group('A')

#merge
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[1,2,3,4],'name':['a','b','c','d']})
pd.merge(data1,data2)
pd.merge(data1,data2,on='id')
pd.merge(data2,data1,on='id')
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[1,2,3,5],'name':['a','b','c','d']})
pd.merge(data1,data2)
pd.merge(data1,data2,on='id',how='inner')
pd.merge(data1,data2,on='id',how='left')
pd.merge(data1,data2,on='id',how='right')
pd.merge(data1,data2,on='id',how='outer')
pd.merge(data1,data2,on='id',how='outer',indicator=True)
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[5,6,7,8],'name':['a','b','c','d']})
pd.merge(data1,data2,left_index=True,right_index=True)
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
pd.merge(data1,data2,on='id')
pd.merge(data1,data2,on='id',suffixes=['higher','lower'])

#concat
data1 = pd.Series([1,2,3])
data2 = pd.Series([4,5,6])
data = pd.concat([data1,data2])

data1 = pd.Series([1,2,3])
data2 = pd.Series([4,5,6,7,8])
data = pd.concat([data1,data2])

data1 = pd.DataFrame({'id':[1,2,3,4],'name':['a','b','c','d'],'class':[5,6,7,8]})
data2 = pd.DataFrame({'id':[5,6,7,8],'name':['e','f','g','h'],'class':[9,10,11,12]})
data = pd.concat([data1,data2])
data = pd.concat([data1,data2],axis=1)
data = pd.concat([data2,data1],axis=0)
data = pd.concat([data1,data2],ignore_index=True)

data1 = pd.DataFrame({'id':[1,2,3,4],'name':['a','b','c','d'],'class':[5,6,7,8]})
data2 = pd.DataFrame({'id':[3,4],'name':['e','f'],'class':[9,10]})
data = pd.concat([data1,data2],axis=1,join='inner')
data = pd.concat([data1,data2],keys=['data1','data2'])
data = pd.concat([data1,data2],keys=['data1','data2'],axis=1)

#join
data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]})
data2 = pd.DataFrame({'c':[4,5,6],'d':[40,50,60]})
#display(data1,data2)
data1.join(data2)
data2.join(data1)

data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]},index=['a','b','c'])
data2 = pd.DataFrame({'c':[4,5,6],'d':[40,50,60]})
data1.join(data2)

data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]},index=['a','b','c'])
data2 = pd.DataFrame({'c':[4,5],'d':[40,50]},index=['a','b'])
data1.join(data2)
data1.join(data2,how='left')
data1.join(data2,how='right')
data1.join(data2,how='inner')
data1.join(data2,how='outer')

#append
data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]})
data2 = pd.DataFrame({'a':[4,5,6],'b':[40,50,60]})
display(data1,data2)
data1.append(data2)
data1.append(data2,ignore_indexs=True)

data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]})
data2 = pd.DataFrame({'c':[4,5,6],'b':[40,50,60]})
data1.append(data2,ignore_indexs=True,sort=False)

C:\Users\91973\AppData\Local\Temp\ipykernel_23712\2159362628.py:43: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fmri.fillna(method='ffill')
C:\Users\91973\AppData\Local\Temp\ipykernel_23712\2159362628.py:44: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fmri.fillna(method='bfill')
C:\Users\91973\AppData\Local\Temp\ipykernel_23712\2159362628.py:45: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fmri.fillna(method='ffill',axis=1)
C:\Users\91973\AppData\Local\Temp\ipykernel_23712\2159362628.py:46: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fmri.fillna(method='bfill',axis=1)
C:\Users\91973\AppData\Local\Temp\ipykernel_23712\2159362628.py:48: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fmri.fillna(method='ffill',limit=1)
C:\Users\91973\AppData\Local\Temp\ipykernel_23712\2159362628.py:59: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  fmri.replace('stim',method='ffill')
C:\Users\91973\AppData\Local\Temp\ipykernel_23712\2159362628.py:60: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  fmri.replace('stim',method='bfill')

TypeError: NDFrame.replace() got an unexpected keyword argument 'metohd'

In [ ]:
#access group of row & column
fmri.loc[2]
fmri.loc[[2]]
fmri.loc[0:3]
fmri.loc[[0,3]]
fmri.loc[0:3,'event']
fmri.loc[4,'region']
fmri.loc[[0,78],['subject','signal']]
fmri.loc[0:78,['subject','signal']]
fmri.loc[fmri['timepoint'] > 12]
fmri.iloc[0]
fmri.iloc[:,2]
fmri.iloc[1:3,1:3] #[row(0):row(n-1),col(0):col(n-1)]
fmri.iloc[3,1]

18.0

In [ ]:
#groupby
data = pd.read_csv('C://Users//91973//OneDrive//Documents//dataset.csv')
grp = data.groupby(by='section')
grp.groups

df.groupby('student id')['section'].groups
df.groupby('section')['class'].groups
df.groupby(by='section')['class'].groups

df.groupby('section')['class'].sum()
df.groupby('class')['percentage'].sum()

grp.sum()
grp.mean()
grp.describe()
grp.aggregate(['sum','max','mean'])
grp = data.gropyby(['section','class'])
grp = data.gropyby(['section','class']).groups
grp = data.groupby(by='section')
for section,df_1 in grp :
    print(section)
    print(df_1)

list(grp)
dict(list(grp))
data.groupby('class').get_group(10)
data.groupby('section').get_group('A')

In [ ]:
#merge
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[1,2,3,4],'name':['a','b','c','d']})
pd.merge(data1,data2)
pd.merge(data1,data2,on='id')
pd.merge(data2,data1,on='id')
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[1,2,3,5],'name':['a','b','c','d']})
pd.merge(data1,data2)
pd.merge(data1,data2,on='id',how='inner')
pd.merge(data1,data2,on='id',how='left')
pd.merge(data1,data2,on='id',how='right')
pd.merge(data1,data2,on='id',how='outer')
pd.merge(data1,data2,on='id',how='outer',indicator=True)
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[5,6,7,8],'name':['a','b','c','d']})
pd.merge(data1,data2,left_index=True,right_index=True)
data1 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
data2 = pd.DataFrame({'id':[1,2,3,4],'class':[9,10,11,12]})
pd.merge(data1,data2,on='id')
pd.merge(data1,data2,on='id',suffixes=['higher','lower'])

   id  class name
0   1      9    a
1   2     10    b
2   3     11    c
3   4     12    d

In [ ]:
#concat
data1 = pd.Series([1,2,3])
data2 = pd.Series([4,5,6])
data = pd.concat([data1,data2])

data1 = pd.Series([1,2,3])
data2 = pd.Series([4,5,6,7,8])
data = pd.concat([data1,data2])

data1 = pd.DataFrame({'id':[1,2,3,4],'name':['a','b','c','d'],'class':[5,6,7,8]})
data2 = pd.DataFrame({'id':[5,6,7,8],'name':['e','f','g','h'],'class':[9,10,11,12]})
data = pd.concat([data1,data2])
data = pd.concat([data1,data2],axis=1)
data = pd.concat([data2,data1],axis=0)
data = pd.concat([data1,data2],ignore_index=True)

data1 = pd.DataFrame({'id':[1,2,3,4],'name':['a','b','c','d'],'class':[5,6,7,8]})
data2 = pd.DataFrame({'id':[3,4],'name':['e','f'],'class':[9,10]})
data = pd.concat([data1,data2],axis=1,join='inner')
data = pd.concat([data1,data2],keys=['data1','data2'])
data = pd.concat([data1,data2],keys=['data1','data2'],axis=1)

   id name  class
0   5    e      9
1   6    f     10
2   7    g     11
3   8    h     12
0   1    a      5
1   2    b      6
2   3    c      7
3   4    d      8

In [ ]:
#join
data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]})
data2 = pd.DataFrame({'c':[4,5,6],'d':[40,50,60]})
#display(data1,data2)
data1.join(data2)
data2.join(data1)

data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]},index=['a','b','c'])
data2 = pd.DataFrame({'c':[4,5,6],'d':[40,50,60]})
data1.join(data2)

data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]},index=['a','b','c'])
data2 = pd.DataFrame({'c':[4,5],'d':[40,50]},index=['a','b'])
data1.join(data2)
data1.join(data2,how='left')
data1.join(data2,how='right')
data1.join(data2,how='inner')
data1.join(data2,how='outer')

data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]},index=['a','b','c'])
data2 = pd.DataFrame({'a':[4,5],'d':[40,50]},index=['a','b'])
data1.join(data2,lsuffix='_1')

   a   b  c   d
0  1  10  4  40
1  2  20  5  50
2  3  30  6  60

In [ ]:
#append
data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]})
data2 = pd.DataFrame({'a':[4,5,6],'b':[40,50,60]})
display(data1,data2)
data1.append(data2)
data1.append(data2,ignore_indexs=True)

data1 = pd.DataFrame({'a':[1,2,3],'b':[10,20,30]})
data2 = pd.DataFrame({'c':[4,5,6],'b':[40,50,60]})
data1.append(data2,ignore_indexs=True,sort=False)

   a   b
0  1  10
1  2  20
2  3  30

   a   b
0  4  40
1  5  50
2  6  60

AttributeError: 'DataFrame' object has no attribute 'append'

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
df = pd.read_csv('C://Users//91973//OneDrive//Documents//dataset.csv')
df.groupby('student id')['section'].groups
df.groupby('section')['class'].groups
df.groupby(by='section')['class'].groups

df.groupby('section')['class'].sum()
df.groupby('class')['percentage'].sum()

{1001: [0], 1002: [1], 1003: [2], 1004: [3], 1005: [4]}

In [ ]:
data

   student id section  class  study hrs  social media  percentage
0        1001       A     10          2             3          50
1        1002       B     10          6             2          80
2        1003       A     10          3             2          60
3        1004       C     11          0             1          45
4        1005       C     12          5             2          75